<Cluster>
<Name>Settings</Name>
<NumElts>6</NumElts>
<Array>
<Name>Acceleration</Name>
<Dimsize>3</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Deceleration</Name>
<Dimsize>3</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Max Velocity</Name>
<Dimsize>3</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>200.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>200.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
</Array>
<DBL>
<Name>Speed</Name>
<Val>150.00000000000000</Val>
</DBL>
<DBL>
<Name>Pulse/Degree</Name>
<Val>55.55550000000000</Val>
</DBL>
<Array>
<Name>Degre Factor</Name>
<Dimsize>3</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>18.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>18.00000000000000</Val>
</DBL>
<DBL>
<Name>Numeric</Name>
<Val>3.42857100000000</Val>
</DBL>
</Array>
</Cluster>
