<Cluster>
<Name>Settings</Name>
<NumElts>5</NumElts>
<Array>
<Name>Acceleration</Name>
<Dimsize>1</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Deceleration</Name>
<Dimsize>1</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>30.00000000000000</Val>
</DBL>
</Array>
<Array>
<Name>Max Velocity</Name>
<Dimsize>1</Dimsize>
<DBL>
<Name>Numeric</Name>
<Val>200.00000000000000</Val>
</DBL>
</Array>
<DBL>
<Name>Speed</Name>
<Val>150.00000000000000</Val>
</DBL>
<DBL>
<Name>Pulse/Degree</Name>
<Val>55.55500000000000</Val>
</DBL>
</Cluster>
